name: Backend CI/CD Flow 

on:
  push:
    branches: [ "master", "features" ] 
  pull_request:
    branches: [ "master", "features" ] 

jobs:
  test-process:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java 21 
        uses: actions/setup-java@v4
        with:
          java-version: '21' 
          distribution: 'temurin'
          cache: maven 
      - name: Run Maven Tests 
        run: mvn clean test
        
  deploy-process:
    needs: test-process
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build JAR 
        run: mvn clean package -DskipTests
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/bank-backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/bank-backend:latest
      - name: SSH Command to Server 
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: | 
            cd ~/bank-app
            docker compose pull bank-backend 
            docker compose up -d bank-backend 
            docker image prune -f
