name: Backend CI/CD Flow 

on:
  push:
    branches: [ "master", "feature" ] 
  pull_request:
    branches: [ "master", "feature" ] 

jobs:
  test-process:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java 21 
        uses: actions/setup-java@v4
        with:
          java-version: '21' 
          distribution: 'temurin'
          cache: maven 
      - name: Run Maven Tests 
        run: mvn clean test
        env:
          SPRING_DATASOURCE_URL: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
          SPRING_DATASOURCE_USERNAME: sa
          SPRING_DATASOURCE_PASSWORD: ""
          SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.h2.Driver
          SPRING_JPA_HIBERNATE_DIALECT: org.hibernate.dialect.H2Dialect
          SPRING_FLYWAY_ENABLED: false
          SPRING_JPA_HIBERNATE_DDL_AUTO: update
          SPRING_JWT_SECRET: "test_secret_key_1234567890_test_secret_key"
          SPRING_JWT_LIFETIME: 3600000
          RESEND_API_KEY: "re_fake_test_key"
        
  deploy-process:
    needs: test-process
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java 21 
        uses: actions/setup-java@v4
        with:
          java-version: '21' 
          distribution: 'temurin'
          cache: maven
      - name: Build JAR 
        run: mvn clean package -DskipTests
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/bank-backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/bank-backend:latest
      - name: SSH Command to Server 
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: | 
            cd ~/bank-app
            docker-compose pull backend
            docker-compose stop backend
            docker-compose rm -f backend
            docker-compose up -d backend
            docker image prune -f
